{% extends "base.html" %}


{%block body%}
<div class="container">
	<div class="row">
		<div class="row">
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Over Speed Governor"
                   data-image="static/over-speed-governor-500x500.jpg"
                   data-target="#image-gallery">
                    <img class="img-thumbnail"
                         src="static/over-speed-governor-500x500.jpg"
                         alt="Another alt text">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="PU - Buffer"
                   data-image="static/P.U. End Boom Buffer.jpg"
                   data-target="#image-gallery">
                    <img class="img-thumbnail"
                         src="static/P.U. End Boom Buffer.jpg"
                         alt="Another alt text">
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Elevator Rope"
                   data-image="static/elevator-rope-hoisting-rope-lift-drive-steel-wire-rope-elevator-speed-limiter-steel-wire-cable-3.jpg"
                   data-target="#image-gallery">
                    <img class="img-thumbnail"
                         src="static/elevator-rope-hoisting-rope-lift-drive-steel-wire-rope-elevator-speed-limiter-steel-wire-cable-3.jpg"
                         alt="Another alt text">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="V3F Drive"
                   data-image="static/v3f-drive-500x500.jpg"
                   data-target="#image-gallery">
                    <img class="img-thumbnail"
                         src="static/v3f-drive-500x500.jpg"
                         alt="Another alt text">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="ARD"
                   data-image="static/auto-rescue-device-500x500.jpg"
                   data-target="#image-gallery">
                    <img class="img-thumbnail"
                         src="static/auto-rescue-device-500x500.jpg"
                         alt="Another alt text">
                </a>
            </div>



            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="T-Guide Rail"
                   data-image="static/guide_rails-500x500.jpg"
                   data-target="#image-gallery">
                    <img class="img-thumbnail"
                         src="static/guide_rails-500x500.jpg"
                         alt="Another alt text">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Elevator Sensor"
                   data-image="static/elevator-door-sensor-500x500.jpg"
                   data-target="#image-gallery">
                    <img class="img-thumbnail"
                         src="static/elevator-door-sensor-500x500.jpg"
                         alt="Another alt text">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Dumbwaiter Machine"
                   data-image="static/dumbwaiter-machine-500x500.jpg"
                   data-target="#image-gallery">
                    <img class="img-thumbnail"
                         src="static/dumbwaiter-machine-500x500.jpg"
                         alt="Another alt text">
                </a>
            </div>



            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Geared Traction Machine"
                   data-image="static/geared-traction-machine-500x500.jpg"
                   data-target="#image-gallery">
                    <img class="img-thumbnail"
                         src="static/geared-traction-machine-500x500.jpg"
                         alt="Another alt text">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Gearless Machine"
                   data-image="static/gearless-elevator-motor-500x500.jpg"
                   data-target="#image-gallery">
                    <img class="img-thumbnail"
                         src="static/gearless-elevator-motor-500x500.jpg"
                         alt="Another alt text">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Worm Gear"
                   data-image="static/worm-gear-and-shaft-500x500.jpg"
                   data-target="#image-gallery">
                    <img class="img-thumbnail"
                         src="static/worm-gear-and-shaft-500x500.jpg"
                         alt="Another alt text">
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
              <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Stainless Stell Finish Buttons "
                 data-image="static/elevator-operating-panel-500x500.jpg"
                 data-target="#image-gallery">
                  <img class="img-thumbnail"
                       src="static/elevator-operating-panel-500x500.jpg"
                       alt="Another alt text">
              </a>
          </div>





          <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Wooden Finish Buttons"
               data-image="static/Home-Elevator-Buttons-Toronto.jpg"
               data-target="#image-gallery">
                <img class="img-thumbnail"
                     src="static/Home-Elevator-Buttons-Toronto.jpg"
                     alt="Another alt text">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Touch Buttons"
               data-image="static/TouchToGoTouchscreen.jpg"
               data-target="#image-gallery">
                <img class="img-thumbnail"
                     src="static/TouchToGoTouchscreen.jpg"
                     alt="Another alt text">
            </a>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Elevators Lights"
               data-image="static/luce-cav.png"
               data-target="#image-gallery">
                <img class="img-thumbnail"
                     src="static/luce-cav.png"
                     alt="Another alt text">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="V3F Drive"
               data-image="static/v3f-drive-500x500.jpg"
               data-target="#image-gallery">
                <img class="img-thumbnail"
                     src="static/v3f-drive-500x500.jpg"
                     alt="Another alt text">
            </a>
        </div>







        </div>



        

        <div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="image-gallery-title"></h4>
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img id="image-gallery-image" class="img-responsive col-md-12" src="">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary float-left" id="show-previous-image"><i class="fa fa-arrow-left"></i>
                        </button>

                        <button type="button" id="show-next-image" class="btn btn-secondary float-right"><i class="fa fa-arrow-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>

<div class="container-fluid">

<style>

.btn:focus, .btn:active, button:focus, button:active {
  outline: none !important;
  box-shadow: none !important;
}

#image-gallery .modal-footer{
  display: block;
}

.thumb{
  margin-top: 15px;
  margin-bottom: 15px;
}

</style>

<script>

let modalId = $('#image-gallery');

$(document)
  .ready(function () {

    loadGallery(true, 'a.thumbnail');

    //This function disables buttons when needed
    function disableButtons(counter_max, counter_current) {
      $('#show-previous-image, #show-next-image')
        .show();
      if (counter_max === counter_current) {
        $('#show-next-image')
          .hide();
      } else if (counter_current === 1) {
        $('#show-previous-image')
          .hide();
      }
    }

    /**
     *
     * @param setIDs        Sets IDs when DOM is loaded. If using a PHP counter, set to false.
     * @param setClickAttr  Sets the attribute for the click handler.
     */

    function loadGallery(setIDs, setClickAttr) {
      let current_image,
        selector,
        counter = 0;

      $('#show-next-image, #show-previous-image')
        .click(function () {
          if ($(this)
            .attr('id') === 'show-previous-image') {
            current_image--;
          } else {
            current_image++;
          }

          selector = $('[data-image-id="' + current_image + '"]');
          updateGallery(selector);
        });

      function updateGallery(selector) {
        let $sel = selector;
        current_image = $sel.data('image-id');
        $('#image-gallery-title')
          .text($sel.data('title'));
        $('#image-gallery-image')
          .attr('src', $sel.data('image'));
        disableButtons(counter, $sel.data('image-id'));
      }

      if (setIDs == true) {
        $('[data-image-id]')
          .each(function () {
            counter++;
            $(this)
              .attr('data-image-id', counter);
          });
      }
      $(setClickAttr)
        .on('click', function () {
          updateGallery($(this));
        });
    }
  });

// build key actions
$(document)
  .keydown(function (e) {
    switch (e.which) {
      case 37: // left
        if ((modalId.data('bs.modal') || {})._isShown && $('#show-previous-image').is(":visible")) {
          $('#show-previous-image')
            .click();
        }
        break;

      case 39: // right
        if ((modalId.data('bs.modal') || {})._isShown && $('#show-next-image').is(":visible")) {
          $('#show-next-image')
            .click();
        }
        break;

      default:
        return; // exit this handler for other keys
    }
    e.preventDefault(); // prevent the default action (scroll / move caret)
  });


</script>


{% endblock %}