
{% extends "base.html" %}


{%block body%}
<br>
<center><h1><b><hr>Manual Doors<hr></b></h1></center>
<br><br>
<div class="row">
    <br>
    <br>
    <div class="col-md-6"><center><h1><i>Collapsible</h1></i> </center><br>
        <center><img src="static/collapsible doors.jpg" height="500px"></center>
    </div>
    <div class="col-md-6"><center><h1><i>Swing</h1></i>  </center><br>
    <center><img src="static/wooden-swing-lift-doorjpg.jpg" height="500px"></center>
 
    </div>
</div>
<div class="row" height="50px"><br><br><br><br>
</div>

<div class="row">

    <div class="col-md-6"><center><h1><i>Imperforated</h1></i> </center><br>
        <center><img src="static/importable-gate-500x500.jpeg" height="500px"></center>
    </div>
    <div class="col-md-6"><center><h1><i>Telescopic </h1></i> </center><br>
    <center><img src="static/telescopic doors.jpg" height="500px"></center>
 
    </div>
</div>
   

<br><br><br>
<center><h1><b><hr>Automatic Doors<hr></b></h1></center>
<br>


<div class="row" height="50px"><br><br><br><br>
</div>
<div class="row">

    <div class="col-md-6"><center><h1><i>Center Opening</h1></i> </center><br>
        <center><img src="static/center-opening-elevator-door-500x500.jpg" height="500px"></center>
    </div>
    <div class="col-md-6"><center><h1><i>Half-Vision</h1></i> </center><br>
    <center><img src="static/ss-half-vision-hairline-finish-central-auto-door-elevator-500x500.jpg" height="500px"></center>
 
    </div>
</div>


<div class="row" height="50px"><br><br><br><br>
</div>
<div class="row">

    <div class="col-md-6"><center><h1><i>Full-Vision</h1></i> </center><br>
        <center><img src="static/full vision glass doors1.jpg" height="500px"></center>
    </div>
    <div class="col-md-6"><center><h1><i>Auto-Telescopic</h1></i>  </center><br>
    <center><img src="static/telescopic-door-elevator-500x500.jpg" height="500px"></center>
 
    </div>
</div>

</div>

<br>
<br>
{% endblock %}