





{% extends "base.html" %}

{%block body%}

<div class="container-fluid">






<div class="row">

  



<div class="w3-content w3-section">
    <img class="mySlides" src="/static/3738.jpg" width="100%" height="600";>
    <img class="mySlides" src="/static/derrick-treadwell-m01bajOe8E0-unsplash.jpg" width="100%" height="600";>
    <img class="mySlides" src="/static/sung-jin-cho--S87hxapFvU-unsplash.jpg" width="100%" height="600";>
    
   
</div>




</div>










<b>
<center>
<br>
<h1>What we Offer?</h1>
<br>
</center>
</b>



<!-- What do we offer -->



<center>

  <div class="row" style="height:20px;background-color: #9cdbaf">
  </div>

<div class="row" style="background-color:#9cdbaf">

  

<div class="col-sm-4" >

  <b><h2>Maintainance</h2></b>

  <b><span>Usually maintenance is carried out before a problem to make sure one doesn’t occur at all, but sometimes maintenance is performed to actually fix a problem instead.</span></b>

  
</div>

<div class="col-sm-4" >

  <b><h2>Installation</h2></b>

 <b> <span>Lift installation is the perfect solution to help your business grow quickly. What are you waiting for? Get in touch and let’s take your business to the next level. We offer tailor-made solutions to suit your needs.</span></b>
  
</div>

<div class="col-sm-4" >

 <b><h2>Repair</h2></b>

  <b><span>Our company is always present on the matter of our estimate for the repair of the elevators. </span></b>
  
</div>

  
</div>
<div class="row" style="height:50px;background-color: #9cdbaf">
</div>


<div class="row" style="background-color: #9cdbaf">

  

<div class="col-sm-4" >

  <b><h2>Modification</h2></b>

  <b><span>We are one of the trusted and reliable name in extending the services to our clients in terms of its modifications and upgrade of existing lifts</span></b>

  
</div>

<div class="col-sm-4" >

  <b><h2>Commissioning</h2></b>

 <b> <span>An elevator commissioning checklist aims to clearly detail elevator specifications and accurately measure the elevator ride quality. </span></b>
  
</div>

<div class="col-sm-4" >

 <b><h2>Replacement</h2></b>

  <b><span>We recommend full replacement if your elevator has a small, cramped car, takes a long time to travel between floors, is often out of order and is 15 years old or more.</span></b>
  
</div>

  
</div>



<div class="row" style="height:20px;background-color: #9cdbaf">
</div>
 

</center>

<!-- What do we offer -->





<!-- Our Products -->



<b>
<center>
<br>
<h1>Our Products</h1>
<br>
</center>
</b>




<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="/static/casuple.jpj.jpg" height="500" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Capsules/Panoramic Elevator</h5>
      <p class="card-text">This is one of the most attractive, advanced control technology applying fully digital V3F Drive technology Elevator</p>
      <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/static/car lift.jpj.jpg" height="500" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Car Elevator</h5>
      <p class="card-text">It is vertical trasportation which basically used in showrooms and multilevel parking to reduce parking space.</p>
      <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/static/mrl lift.jpj.jpg" height="500" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">MRL Gearless Elevator</h5>
      <p class="card-text">MRL(Machine Room Less) Elevators are ideal where space for machine room is remembered not available. They are economically best and long after the high speed elovators.</p>
      <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
    </div>
  </div>
</div>


<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="/static/Hospital+Elevator.jpg" height="500" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Hospital Elevator</h5>
      <p class="card-text">It is used for simple transportation of patient through wheel chair & strecher. It is a smooth, silent & swift without jerks & shocks.</p>
      <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/static/2 & 3 Opening elevator.jpg" height="500" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">2 & 3 Side Opening Elevator</h5>
      <p class="card-text">This Elevator is unique of its kind which opens on several sides of floor. Auto Doors are installed in it as per customer requirement.</p>
      <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/static/goods-and-passenger-elevator.jpg" height="500" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Goods Cum Passenger Elevator</h5>
      <p class="card-text">It is essentially designed to fulfill material handing\nrequirements of various industries, building, hotels, etc.</p>
      <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
    </div>
  </div>
</div>


<b>
<center>
<br>
<h1>Explore More</h1>
<br>
</center>
</b>

<!-- Our Products -->

{%endblock%}



